In [1]:
import pandas as pd

In [2]:
once_post_df = pd.read_csv("once/once.csv")
once_comment_df = pd.read_csv("once/comment.csv")
once_recomment_df = pd.read_csv("once/recomment.csv")

In [3]:
post_comment_df = pd.merge(left=once_post_df, right=once_comment_df, on="m_post_id", how="left")[['contents','user_id_x','user_id_y', 'm_comment_id']]
post_comment_df

,contents,user_id_x,user_id_y,m_comment_id
0,î˜§ONCEæ‚è´§é“ºè¶…è¯ misamo2.0è¡¥è´´å•å°110åªå‡ºsanaçš„å•å° ä¼šæŠŠåº”å‹ŸåŠµæ‹¿èµ°...,1562766757,NaN,NaN
1,î˜§ONCEæ‚è´§é“ºè¶…è¯ æ‹¼æ–°ä¸“ 3ä¸ªå›¢å°ç‰¹å…¸ ä¸€ä¸ªå•å°ç‰¹å…¸ ç”µå­ä¸“ç‰¹å…¸ å’Œ hç‰ˆ ç‰¹å…¸å‡...,2168605694,7.881362e+09,5.092692e+15
2,î˜§ONCEæ‚è´§é“ºè¶…è¯ æ‹¼æ–°ä¸“ 3ä¸ªå›¢å°ç‰¹å…¸ ä¸€ä¸ªå•å°ç‰¹å…¸ ç”µå­ä¸“ç‰¹å…¸ å’Œ hç‰ˆ ç‰¹å…¸å‡...,2168605694,6.934656e+09,5.092691e+15
3,î˜§ONCEæ‚è´§é“ºè¶…è¯ æ”¶æ”¶æ”¶cuèŠ±çµ®pbfsèŠ±çµ®pbtttèŠ±çµ®pb+å¡rtbèŠ±çµ®pb+å¡...,2681838403,6.444681e+09,5.092691e+15
4,î˜§ONCEæ‚è´§é“ºè¶…è¯ æ”¶æ”¶æ”¶cuèŠ±çµ®pbfsèŠ±çµ®pbtttèŠ±çµ®pb+å¡rtbèŠ±çµ®pb+å¡...,2681838403,1.862285e+09,5.092688e+15
...,...,...,...,...
139815,î˜§ONCEæ‚è´§é“ºè¶…è¯ mini14è¿·ä½ 14strategyâ—æ— å¤–ç½®å¤§æµ·æŠ¥ï¼Œyetimall...,5773273363,NaN,NaN
139816,î˜§ONCEæ‚è´§é“ºè¶…è¯ mini14è¿·ä½ 14strategyâ—æ— å¤–ç½®å¤§æµ·æŠ¥ï¼Œyetimall...,5773273363,NaN,NaN
139817,î˜§ONCEæ‚è´§é“ºè¶…è¯ ç‘œç›˜å‰©ä½™é‡ï¼Œè¿™äº›ä¸Šå®Œä¸€å¤§åŠå°±å·®ä¸å¤šå¯ä»¥æˆªç›˜äº†!æœ‰ffæ‹æ‰‹çº±ï¼Œå¤å¨å¤·å®š...,7709577062,7.077527e+09,5.092702e+15
139818,î˜§ONCEæ‚è´§é“ºè¶…è¯ ç‘œç›˜å‰©ä½™é‡ï¼Œè¿™äº›ä¸Šå®Œä¸€å¤§åŠå°±å·®ä¸å¤šå¯ä»¥æˆªç›˜äº†!æœ‰ffæ‹æ‰‹çº±ï¼Œå¤å¨å¤·å®š...,7709577062,7.709577e+09,5.092692e+15
139819,î˜§ONCEæ‚è´§é“ºè¶…è¯ æ—¥å°5 20åŒ…å›½é™… é…ç½®å¦‚å›¾ â€‹â€‹â€‹â€‹ ...,5236767396,NaN,NaN

In [4]:
all_edge_df = pd.merge(left=post_comment_df, right=once_recomment_df, left_on="m_comment_id", right_on="from_comment_id",how="left")
all_edge_df = all_edge_df[['user_id_x', 'user_id_y', 'user_id']]
all_edge_df

         user_id_x     user_id_y       user_id
0       1562766757           NaN           NaN
1       2168605694  7.881362e+09  2.168606e+09
2       2168605694  6.934656e+09           NaN
3       2681838403  6.444681e+09  6.444681e+09
4       2681838403  6.444681e+09  2.681838e+09
...            ...           ...           ...
176731  7709577062  7.077527e+09  7.709577e+09
176732  7709577062  7.077527e+09  7.077527e+09
176733  7709577062  7.077527e+09  7.709577e+09
176734  7709577062  7.709577e+09           NaN
176735  5236767396           NaN           NaN

[176736 rows x 3 columns]

In [5]:
all_edge_df.to_csv("once_all_edge.csv", index=False)

# twice edge

In [6]:
twice_post_df = pd.read_csv("twice/twice_post_clean.csv")
twice_comment_df = pd.read_csv("twice/comment.csv")
twice_recomment_df = pd.read_csv("twice/recomment.csv")

In [7]:
twice_post_comment_df = pd.merge(left=twice_post_df, right=twice_comment_df, on="m_post_id", how="left")[['contents','user_id_x','user_id_y', 'm_comment_id']]
twice_post_comment_df

,contents,user_id_x,user_id_y,m_comment_id
0,î˜§TWICEè¶…è¯ ğŸ’™ #å‘¨å­ç‘œå°†9æœˆ6æ—¥soloå‡ºé“#240830 MUSIC BANKæ›´...,2372028335,6.287452e+09,5.073132e+15
1,î˜§TWICEè¶…è¯ ğŸ’™ #å‘¨å­ç‘œå°†9æœˆ6æ—¥soloå‡ºé“#240830 MUSIC BANKæ›´...,2372028335,7.562171e+09,5.073128e+15
2,î˜§TWICEè¶…è¯ ğŸ’™ #å‘¨å­ç‘œå°†9æœˆ6æ—¥soloå‡ºé“#240830 MUSIC BANKæ›´...,2372028335,2.533928e+09,5.073130e+15
3,î˜§TWICEè¶…è¯ ğŸ’™ #å‘¨å­ç‘œå°†9æœˆ6æ—¥soloå‡ºé“#240830 MUSIC BANKæ›´...,2372028335,7.709496e+09,5.073130e+15
4,î˜§TWICEè¶…è¯ ğŸ’™ #å‘¨å­ç‘œå°†9æœˆ6æ—¥soloå‡ºé“#240830 MUSIC BANKæ›´...,2372028335,5.893264e+09,5.073134e+15
...,...,...,...,...
60026,î˜§TWICEè¶…è¯ğŸŒ¸#0726 MISAMO æ—¥æœ¬å‡ºé“å¿«ä¹# 230721 æ¨æ›´æ–°MISAM...,2372028335,7.482184e+09,4.926076e+15
60027,î˜§TWICEè¶…è¯ğŸŒ¸#0726 MISAMO æ—¥æœ¬å‡ºé“å¿«ä¹# 230721 æ¨æ›´æ–°MISAM...,2372028335,6.671655e+09,4.926074e+15
60028,î˜§TWICEè¶…è¯ğŸŒ¸#0726 MISAMO æ—¥æœ¬å‡ºé“å¿«ä¹# 230721 æ¨æ›´æ–°MISAM...,2372028335,6.793656e+09,4.926069e+15
60029,î˜§TWICEè¶…è¯ğŸŒ¸#0726 MISAMO æ—¥æœ¬å‡ºé“å¿«ä¹# 230721 æ¨æ›´æ–°MISAM...,2372028335,6.672261e+09,4.926065e+15
60030,î˜§TWICEè¶…è¯ğŸŒ¸#0726 MISAMO æ—¥æœ¬å‡ºé“å¿«ä¹# 230721 æ¨æ›´æ–°MISAM...,2372028335,6.478318e+09,4.926055e+15

In [9]:
twice_all_edge_df = pd.merge(left=twice_post_comment_df, right=twice_recomment_df, left_on="m_comment_id", right_on="from_comment_id",how="left")
twice_all_edge_df = twice_all_edge_df[['user_id_x', 'user_id_y', 'user_id']]
twice_all_edge_df

        user_id_x     user_id_y  user_id
0      2372028335  6.287452e+09      NaN
1      2372028335  7.562171e+09      NaN
2      2372028335  2.533928e+09      NaN
3      2372028335  7.709496e+09      NaN
4      2372028335  5.893264e+09      NaN
...           ...           ...      ...
74753  2372028335  7.482184e+09      NaN
74754  2372028335  6.671655e+09      NaN
74755  2372028335  6.793656e+09      NaN
74756  2372028335  6.672261e+09      NaN
74757  2372028335  6.478318e+09      NaN

[74758 rows x 3 columns]

In [10]:
twice_all_edge_df.to_csv("twice_all_edge.csv", index=False)